.notFoundContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.notFoundTitle {
  font-size: 100px;
  color: grey;
  letter-spacing: -5px;
}

.notFoundDescription {
  font-size: 20px;
  color: rgb(34, 33, 33);
}
